configuration {
    font:				"Hack 14";
    show-icons:				false;
    icon-theme:				"Arc-X-D";
    display-drun:			"Apps";
    drun-display-format:		"{name}";
    scroll-method:			0;
    disable-history:			false;
    sidebar-mode:			false;
}
